{% if user.is_authenticated %}
    <a href="{% url 'todo:home' %}">Home</a>
    <br>
    Hello, {{ user.username }}!

    <a href="{% url 'todo:createtodo' %}">Create</a>
    <a href="{% url 'todo:currenttodos' %}">Current</a>
    <a href="{% url 'todo:completedtodos' %}">Completed</a>

    <form action="{% url 'todo:logoutuser' %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Log out</button>
    </form>
{% else %}
    <a href="{% url 'todo:signupuser' %}">Sign up</a>
    <a href="{% url 'todo:loginuser' %}">Log in</a>
{% endif %}
<br>
<br>
{% block content %}{% endblock %}